@media (-moz-bool-pref: "mod.zencustomurlbar.useanimation") {
  :root {
    --mod-zencustomurlbar-scale-final: var(--mod-zencustomurlbar-scale, 1);
    --mod-zencustomurlbar-blur-final: var(--mod-zencustomurlbar-blur, 5px);
    --mod-zencustomurlbar-brightness-final: var(
      --mod-zencustomurlbar-brightness,
      0.7
    );

    --zen-tabbox-ease: cubic-bezier(
      var(--zen-tabbox-user-ease, 0.46, -0.45, 0.34, 1.69)
    );
  }

  #zen-tabbox-wrapper {
    transition: filter 0.25s ease, transform 0.25s var(--zen-tabbox-ease) !important;
    filter: none !important;
    transform: scale(1) !important;
  }

  :has(#urlbar:focus-within) #zen-tabbox-wrapper {
    filter: blur(var(--mod-zencustomurlbar-blur-final))
      brightness(var(--mod-zencustomurlbar-brightness-final)) !important;
    transform: scale(var(--mod-zencustomurlbar-scale-final)) !important;
  }

  :has(#urlbar:focus-within) #tabbrowser-tabpanels::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    pointer-events: auto;
    z-index: 9999;
  }

  #urlbar[breakout-extend="true"] #urlbar-background {
    background-color: color-mix(
      in srgb,
      var(--zen-dialog-background),
      transparent 15%
    ) !important;
    backdrop-filter: blur(5px) !important;
  }
}
